{% extends "restaurants/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="container-fluid content-base-profile">
    <div class="row">
        <div class="col-sm-3">
            <div class="sidebar">
                <ul class="side-group">
                    <li class="list-item list-profile"><a href="{% url 'rest-profile' %}">PROFILE</a></li>
                    <li class="list-item list-new"><a href="#">ADD NEW ITEMS</a></li>
                    <li class="list-item">DELETE ITEMS</li>
                    <li class="list-item">UPDATE ITEMS</li>
                    <li class="list-item list-list"><a href="#">LIST ITEMS</a></li>
                    <li class="list-item">ORDER LIST</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            {% block profile_content %}
            {% endblock %}
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
    <script type="text/javascript">
        {% if "profile" in request.path %}
            $('.list-profile').addClass('list-item-active');
        {% elif "add" in request.path %}
            $('.list-new').addClass('list-item-active');
        {% elif "list" in request.path %}
            $('.list-list').addClass('list-item-active');
        {% endif %}
    </script>
{% endblock script %}