{% extends "restaurants/base_profile.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block profile_content %}

	<div class="content-food-list">
        <table class="table-striped text-center" width="100%">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Cost</th>
                <th>Image</th>
            </tr>

            {% if foods|length > 0 %}
                {% for food in foods %}
                    <tr>
                        <td>{{ food.name }}</td>
                        <td>{{ food.description }}</td>
                        <td>{{ food.category }}</td>
                        <td>{{ food.cost }}</td>
                        <td><img class="food-image" src="{{ food.image.url }}"></td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
	</div>

{% endblock profile_content %}