{% extends "restaurants/base_profile.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block profile_content %}

	<div class="content-food-add">
		<form method="POST">
			<!-- This is important for security purpose -->
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Add Food</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info btn-add" type="submit">Add</button>
			</div>
		</form>
	</div>

{% endblock profile_content %}