{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <title>{{ app }} - {{ title }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <style>
        body {
            background-color: rgb(250, 250, 250);
        }
    </style>
    <link rel="stylesheet" href="{% static 'food/css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'food/img/favicon.png' %}">

</head>

<body id="myPage">

    <div class="login-logo text-center" style="width: 100%">
        <a href="{% url 'food-home' %}"><img class="logo-image-login" src="{% static 'food/img/navbar/logo_login.png' %}"></a>
        <p>Sign in to 
            <span style="padding-right: 0px; color: #111111;font-weight: 400">
                {{ app }}
            </span>
        </p>
    </div>
    <div class="content-login col-md-3 col-sm-6 col-xs-8 login-form ml-auto mr-auto">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <form method="POST">
            <!-- This is important for security purpose -->
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form.username|as_crispy_field }}
                <div>
                    {{ form.password|as_crispy_field }}
                    <a class="forgot-password" href="#"><img>Forgot Password?</a>
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-success btn-block py-2" type="submit">Login</button>
            </div>
        </form>
    </div>
    <div class="content-login col-md-3 login-create ml-auto mr-auto">
        <fieldset class="form-group">
            <p class="text-center">
                New to Food Express?
                <a href="{% url 'rest-register' %}">Create an account.</a>
            </p>
        </fieldset>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>

</html>