{% extends "food/base.html" %}
{% load static %}
{% block content %}

	<div class="container-fluid content-menu">
		<div class="row">
			<div class="col-sm-3">
				<div class="tabs-menu">
					<div class="tablink" id="chinese">Chinese</div>
					<div class="tablink" id="south">South Indian</div>
					<div class="tablink" id="punjabi">Punjabi</div>
					<div class="tablink" id="gujarati">Gujarati</div>
					<div class="tablink" id="american">American</div>
				</div>
			</div>
			<div class="col-sm-9">
				<div class="container-fluid">
					<div class="row">
						{% for item in foods %}
							<div class="col-md-4">
								<div class="card">
									<img class="img-responsive card-img-top item-img" src="{{ item.image.url }}">
									<div class="card-body">
										<p>{{ item.name }}</p>
										<p>{{ item.cost }}</p>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- Menu Goes Here -->

{% endblock content %}